body {
  font-family: 'Kosugi Maru', sans-serif;
}

header {
  .header-logo {
    background: url("/image/coverPage.jpg") no-repeat center center;
    background-size: 100% auto;
    border-bottom: 1px solid #c0c0c0;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-text {
      display: block;
      color: #808080;
      text-align: center;
    }
  }
}

main {
  border-bottom: 1px solid #c0c0c0;
  background-color: #f5f5f5;
  .container {
    margin: 0 auto;
    .tab-content {
      border-radius: 5px;
      &-text {
        font-size: 20px;
      }
    }
    .nav {
      .nav-item {
        & > a {
          font-size: 20px;
        }
      }
    }
  }
}

.icon-zone {
  text-align: center;
  .icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

.skill-list {
  & > i {
    font-size: 30px;
    margin-right: 10px;
  }
}

.docker {
  width: 50%;
}

footer {
  color: #808080;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 10px;
  .footer-content {
    display: flex;
    justify-content: space-between;
    .fab {
      font-size: 30px;
      margin-left: 10px;
    }
  }
}